{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CodesPostaux</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nomville</th>
                <td>{{ entity.nomville }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ entity.codepostal }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('codespostaux') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('codespostaux_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
