{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Panier</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datepanier</th>
                <td>{{ entity.datepanier|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Datecreatepanier</th>
                <td>{{ entity.datecreatepanier|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateupdatepanier</th>
                <td>{{ entity.dateupdatepanier|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('panier') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('panier_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
