{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Pannier list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datepanier</th>
                <th>Status</th>
                <th>Datecreatepanier</th>
                <th>Dateupdatepanier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('pannier_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.datepanier %}{{ entity.datepanier|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>{% if entity.datecreatepanier %}{{ entity.datecreatepanier|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateupdatepanier %}{{ entity.dateupdatepanier|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('pannier_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('pannier_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('pannier_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
