{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nomclient</th>
                <td>{{ entity.nomclient }}</td>
            </tr>
            <tr>
                <th>Prenomclient</th>
                <td>{{ entity.prenomclient }}</td>
            </tr>
            <tr>
                <th>Mailclient</th>
                <td>{{ entity.mailclient }}</td>
            </tr>
            <tr>
                <th>Passwordclient</th>
                <td>{{ entity.passwordclient }}</td>
            </tr>
            <tr>
                <th>Datecreateclient</th>
                <td>{{ entity.datecreateclient|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateupdateclient</th>
                <td>{{ entity.dateupdateclient|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
