{#% extends '::base.html.twig' %#}
<!DOCTYPE html>
<html>
    <head>
        <script src="{{ asset('bundles/nfe102resto/js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            var AddCath = function(){

                 $(".addcat").html('{{ form_widget(CategorieProduitType)}}');
                  $(".addcat").after('&nbsp;<button class="addcatb btn btn-primary btn-mini cancel-button-pwd" onclick="javascript:reset()" type="button">{{ "cancel-button" | trans }}</button>');
                  $(".addcat").after('&nbsp;<button class="addcatb btn btn-primary btn-mini valid-button" onclick="javascript:Sendcath()" type="button">{{"valid-button" | trans }}</button>');
      
                }
        
           var reset = function(){
       
                $(".addcat").html('');
                $(".addcatb").remove();
        
               }
           var Sendcath = function() {
        
              var newcat = $('#nfe102_bundle_restobundle_categorieproduit_type').val();
              var token = $('#nfe102_bundle_restobundle_categorieproduit__token').val();
            $.ajax({
                 type: 'POST',
                 url: '{{ path('categorieproduit_create') }}',
                 data: 'nfe102_bundle_restobundle_categorieproduit[_token]='+token+'&nfe102_bundle_restobundle_categorieproduit[type]='+newcat,
                 success: function (ret) {
                 location.reload();
               // alert(ret); 
                },
                error: function(ret) {
                alert(ret);
          }
       
               }); }
            </script> 
        </head>
        <body>
{% block body -%}
                <h1>Produit creation</h1>

    {{ form(form) }}

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('produit') }}">
                            Back to the list
                        </a>
                    </li>
                </ul>
                <button class="btn btn-primary btn-mini change-mail-action" onclick="javascript:AddCath();" type="button">Ajouter Categorie</button> 

                <div class="addcat"></div>
{% endblock %}
            </body>
        </html>