{% block js %}
{{ parent() }}
<script type="text/javascript">
    
    function send(){
        val =  $('#art').val();
        alert(val );
        };

    
    // function mod cart
    /**
     * paramétre more, less, del, reset
     */
             function modcart(param,id) {
           
                switch(param)
                {
                case 'more':
                  url = '{{ path('nfe102_resto_moreart') }}';
                  break;
                case 'less':
                  url = '{{ path('nfe102_resto_lessart') }}';
                  break;
                case 'del':
                  url = '{{ path('nfe102_resto_delart') }}';
                  break;
               case 'reset':
                  url = '{{ path('nfe102_resto_resetcart') }}';
                  break;                  
                default:
                  alert('Error');
                }
           
            $.ajax({
                    type: 'POST',
                    url: url,
                    data: 'idprod='+id,
                    success: function (ret) { 
                        
                        cartshow(); 
                       // alert(ret);
                    //$('.thisdiv').html('');    
                  //  $('#thisdiv').load(document.URL +  '#thisdiv');
                    }, 
                    error: function(ret) { 
                     //   alertview("E",mail,JSON.stringify(ret.responseText));
                    }
                  });  
           
    };
    $(document).ready(function() {cartshow()});
    
    </script>    


    <style>
            /*
            .Tableau span {
                display:inline;
                float:left;
                border:1px solid #046380;
                margin:0px;
                padding:6px;
            }
            .Tableau p.mef {
                clear:left;
                margin:0px;
                padding:0px;
            }
            .Tableau p.legende {font-weight:bold}
            .Tableau span.col1 {text-align: center; width:90px;}
            .Tableau span.col2 {text-align: center; width:90px;}
            .Tableau span.col3 {text-align: center; width:90px;}

            */
        </style>



        <script>
        function cartshow () {
        $.ajax({
        type: "POST",
        url: "{{ path('nfe102_resto_showCart') }}",
        dataType: 'json',
      //  async: false,
        success: function(cart){
          var out =  '<div class="Tableau">' +
                     '<p class="legende">' +
                     '<span class="col1">Id Prod</span>' +
                     '<span class="col2">Qte</span>' +
                     '</p>';
                 
        for (var i in cart) {
        out += '<p class="mef"><span class="col1">' + i + '</span>';
        out += '<span class="col2">' + cart[i] + '</span>';
        out += '<span class="col3 btn-toolbar" role="toolbar">';
        out += '<button class="btn btn-default btn-sm glyphicon glyphicon-plus" type="button" onclick="javascript:modcart(\'more\','+ i +')" value="+"/>';
        out += '<button class="btn btn-default btn-sm glyphicon glyphicon-minus" type="button" onclick="javascript:modcart(\'less\','+ i +')" value="-"/>';
        out += '<button class="btn btn-default btn-sm glyphicon glyphicon-trash" type="button" onclick="javascript:modcart(\'del\','+ i +')"/>';
        out += '</span></p>';
    }
    
    out +='</div>';
    
    
          $('#thisdiv').html(out);
           // console.log(data);
                   }
  })}; 
  

</script>
{% endblock %} 


<div id="thisdiv"></div>
    <br /><br /><br />
        <input type="button" onclick="javascript:modcart('more',$('#art').val())" value="+"/>
        <input type="button" onclick="javascript:modcart('less',$('#art').val())" value="-"/>
        <input type="button" onclick="javascript:modcart('del',$('#art').val())" value="dell Art"/>
        <input type="button" onclick="javascript:modcart('reset','')" value="vider panier"/>
        <div id="ex">
        <input type="text" id="art" value=""/> 
       </div>
        
        
