<!-- script insertion panier -->  
<script type="text/javascript">

    var send = function(){
        val =  $('#art').val();
        alert(val );
        };

    
    // function mod cart
    /**
     * paramétre more, less, del, reset
     */
             function modcart(param,id) {
           
                switch(param)
                {
                case 'more':
                  url = '{{ path('nfe102_resto_moreart') }}';
                  break;
                case 'less':
                  url = '{{ path('nfe102_resto_lessart') }}';
                  break;
                case 'del':
                  url = '{{ path('nfe102_resto_delart') }}';
                  break;
               case 'reset':
                  url = '{{ path('nfe102_resto_resetcart') }}';
                  break;                  
                default:
                  alert('Error');
                }
           
            $.ajax({
                    type: 'POST',
                    url: url,
                    data: 'idprod='+id,
                    success: function (ret) { 
                        
                       cartshow(); 

                    },  
                    error: function(ret) { cartshow(); 
                        alert('Error YTJVG687');
                    }
                  });  
           
    };
    

    var  cartshow = function() {
    $.ajax({
    type: "POST",
    url: "{{ path('nfe102_resto_showCart') }}",
    dataType: 'json',
  //  async: false,
    success: function(cart){
       
if (cart != '' && cart !== null) {
    
    for (var i in cart) {
        var out = "";
          $.ajax({
                    type: 'POST',
                    dataType: "json",
                    url: '{{ path('produit_showview') }}',
                    data: 'id='+i,
                    success: function (ret) { 
                      
        //<!-- debut gene -->
              out +=   '<tr class="ligne active">' +                   
                        '<td>' +
                            '<div class="produitCont">' +
                            //    '<img src="{{ asset('bundles/nfe102resto/images/') }}'+ ret.id +'.jpg" height="67" width="100" class="img-rounded"/>' +
                                '<strong>'+ret.nom +
                            '</strong><br/><span>'+ret.description+'</span>' +
                            '</div>' +
                        '</td>' +
                        '<td class="modeLivraison domicile">' +
                            '<div>' +
                                '<p>A domicile</p>' +
                            '</div>' +
                        '</td>' +
                        '<td>' +
                            '<span>' +
                                ret.prix +'&euro;' + 
                            '</span>' +
                        '</td>' +
                        '<td>' +
                            '<span class="qté">' +
                                '<input type="hidden"  name="idProd"  value="'+ret.id+'">' +
                                '<input class="btn btn-default" size="2" maxlength="2" type="text" value="'+ cart[ret.id] +'"/>' +
                                '<button class="btn btn-default btn-sm glyphicon glyphicon-plus" type="button" onclick="javascript:modcart(\'more\','+ ret.id +')" value="+"/>' +
                                '<button class="btn btn-default btn-sm glyphicon glyphicon-minus" type="button" onclick="javascript:modcart(\'less\','+ ret.id +')" value="-"/>' +
                                '<button class="btn btn-default btn-sm glyphicon glyphicon-trash" type="button" onclick="javascript:modcart(\'del\','+ ret.id +')"/>' +
                            '</span>' +
                        '</td>' +
                        '<td>' +
                            '<span class="prix prixTotal">' +
                                ret.prix * cart[ret.id] +'&euro;' +
                            '</span>' +
                        '</td>' +
                    '</tr>';
                             
                               
                        if ($(".ligne")){
                             $(".ligne").remove();   
                           }
                           
                           $( ".showcart" ).after(out);
                                    },  
                                    
                    error: function(ret) { 
                        alert("Error windows 8099x89 ;) ");
                    }
                  });
              } 
              
              } else {
              out = '<tr class="active ligne"><td>Le panier est vide</td></tr>';
              $( ".showcart" ).after(out);
              }
       // console.log(data);
     $('.totalcart').html(readjson("{{ path('nfe102_resto_showCartCost') }}").responseJSON.total+' &euro;');         
     $('.totprod').html(readjson("{{ path('nfe102_resto_showCartCost') }}").responseJSON.totprod);         
             }
}
)}; 


function readjson(url) {
    var jqXHR = $.ajax({
          type : "POST",
          cache: false,
          async: false,
          url: url,
          dataType : "json",
    });
    
    return jqXHR;
}

function catproduct(id) {
    var jqXHR = $.ajax({
          type : "POST",
          cache: false,
          async: false,
          data: 'idprod='+id,
          url: "{{ path('produit_showcat') }}",
          dataType    : "text",
    });
    
    return jqXHR.responseText;
}



    
   var  listesproductshow = function() { 

    $.ajax({
    type: "POST",
    url: "{{ path('produit_jsonshow') }}",
    dataType: 'json',
    async: false,
    success: function(liste){
        
       var showtable = '';
       var image = $('#defaultimg').val();
       var categoriepage = $('#categorietype').val();
       
         if ($(".liste")){
         $(".liste").remove();   
         }
       
        for (var i=0;i<liste.length;i++) {
          
 
    if (catproduct(liste[i]["id"]).toUpperCase() == categoriepage.toUpperCase()){
    
    
            if (liste[i]['image']) { // image default
             image = liste[i]['image'];                 
            }
            
      showtable = '<tr class="liste">'+                   
                    '<td>'+
                        '<div class="produitCont">'+
                          '<img src="{{ asset('bundles/nfe102resto/images/') }}'+image+'" height="67" width="100" class="img-rounded"/>'+
                            '<strong class="nom'+liste[i]["id"]+'">'+liste[i]['nom']+'</strong><br />'+
                            '<span class="description'+liste[i]["id"]+'">('+liste[i]['description']+')</span>'+
                         '</div>'+
                    '</td>'+
                 '<td>'+
                    '<span class="prix'+liste[i]["id"]+'">'+
                        liste[i]['prix'] +'&euro;'+
                     '</span>'+
                 '</td>'+
                  '<td>'+
                    '<span class="qté">'+
                      '<button type="button" class="btn btn-default btn-lg" onclick="javascript:modal(\''+liste[i]["id"]+'\'),cartshow();">'+
                      '<span class="glyphicon glyphicon-shopping-cart"></span> Ajouter au panier'+
                      '</button>'+
                    '</span>'+
                   '</td>'+
                  '</tr>';      
            
             $( ".tableliste" ).append(showtable);
       //alert(liste[i]['nom']+liste[i]['description']+liste[i]['image']+liste[i]['prix']); 
  }
          }
             }, error: function(){  $( ".tableliste" ).append('<tr><td>Il n\'y a pas de produit enregistré!</td></tr>'); }
}
)}; 
    </script>