<ul>
    
   <li class='vert'><a href='{{ path('nfe102_resto_homepage') }}2'><span>Nos Menus</span></a></li>
   <li class='vert'><a href='{{ path('nfe102_resto_homepage') }}3'><span>Nos Pizzas</span></a></li>
   <li class='blanc'><a href='{{ path('nfe102_resto_homepage') }}4'><span>Nos P&acirc;tes</span></a></li>
   <li class='blanc'><a href='{{ path('nfe102_resto_homepage') }}5'><span>La Carte</span></a></li>
   <li class='rouge' id="size_li"><a href='{{ path('nfe102_resto_homepage') }}6'><span>Votre Commande</span></a></li>
</ul>
